[data-active-module='casenotes2.0'] {
  .caseNotesForm {
    border-radius: 6px;
    box-shadow: $shadow-m2;
    display: flex;
    flex-flow: column nowrap;
    grid-area: form;
    margin: 0 10px 0 20px;
    position: relative;

    form {
      padding: 6px 10px 10px 10px;
    }

    .form_field.time,
    .form_field.number {
      width: calc(50% - 5px);
    }
    .form_field.checkbox {
      width: 100%;
    }
    .form_field.textarea {
      height: 200px;
      position: relative;
    }
    .form_field.location,
    .form_field.service,
    .form_field.need,
    .form_field.contact {
      min-width: 300px;
      width: calc(50% - 5px);
    }
  }
  .caseNotesTimer {
    align-items: center;
    align-self: flex-end;
    display: flex;
    padding: 10px 10px 6px 10px;

    p {
      font-size: $px18;
      line-height: normal;
      margin-left: 6px;
      order: 1;
      text-align: center;
      width: 90px;
    }

    button:first-of-type {
      margin-right: 4px;
    }
  }
}
