[data-active-module='casenotes2.0'] {
  dialog.modal.insertPhrases[open] {
    height: 60%;
    min-height: 300px;
    max-height: 450px;
    width: 80%;
    min-width: 400px;
    max-width: 600px;

    .phraseWrap {
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0px 4px 0 12px;
      flex-grow: 1;
    }
    .phraseView {
      margin: 0 0 10px 0;
      padding: 20px 10px 15px;
      flex-grow: 0;
    }
    .phrase {
      //border: 2px solid $black;
      box-shadow: $shadow-m2;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      flex-flow: column nowrap;
      margin: 0 8px 10px 0;
      padding: 4px;

      * {
        pointer-events: none;
      }

      .shortcut {
        font-weight: $_bold;
      }
      // .phraseText {
      // }
    }
    button.button {
      margin: 20px 12px 15px 12px;
    }
  }
  dialog.modal.addPhrases[open] {
    height: 60%;
    min-height: 300px;
    max-height: 400px;
    width: 80%;
    min-width: 400px;
    max-width: 535px;

    padding: 14px 10px;

    form {
      flex-grow: 1;

      .form_field.checkbox {
        margin: 0 0 10px;
      }
      .form_field.textarea {
        height: 150px;
      }
    }
  }
}
