.authTable {
  &__header,
  &__subHeader {
    background: $bg-dark;
    color: $font-light;
    padding: 12px 6px;
  }

  &__header,
  &__subHeader,
  &__dataRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    > div {
      flex-grow: 1;
      margin: 0 5px 0 0;
      padding: 0 5px;
      pointer-events: none;
    }

    div:first-child {
      padding-left: 0;
    }
  }

  &__mainDataRow,
  &__subDataRow {
    * {
      pointer-events: none;
    }
  }

  &__mainDataRow {
    cursor: pointer;
    padding: 10px 6px;
    border: $w-sm solid rgba($black, 0.12);
    border-top: none;
  }
  &__subDataRow {
    padding: 8px 6px;
    border: $w-sm solid rgba($black, 0.12);
    border-top: none;
  }

  &__subRowWrap {
    display: none;

    &.active {
      display: block;
    }
  }

  // COLUMN WIDTHS
  &__header,
  &__mainDataRow {
    div:nth-child(1) {
      // TOGGLE ICON
      min-width: 26px;
      max-width: 32px;
    }
    div:nth-child(2){
      // COMPLETED DATE
      display: none;
      min-width: 90px;
      max-width: 120px;
    }
    div:nth-child(3){
      // YEAR START DATE
      min-width: 90px;
      max-width: 120px;
    }
    div:nth-child(4) {
      // YEAR END DATE
      min-width: 90px;
      max-width: 120px;
    }
    div:nth-child(5) {
      // PLAN TYPE
      min-width: 70px;
    }
    div:nth-child(6) {
      // PLAN VENDOR
      display: none;
      min-width: 100px;
    }
    div:nth-child(7) {
      // MATCH SOURCE
      display: none;
      min-width: 100px;
    }

    @media screen and (min-width: 1000px) {
      div:nth-child(2) {
        // COMPLETED DATE
        display: block;
      }
      div:nth-child(6) {
        // PLAN VENDOR
        display: block;
      }
      div:nth-child(7) {
        // MATCH SOURCE
        display: block;
      }
    }
  }

  &__subHeader,
  &__subDataRow {
    div:nth-child(1) {
      // ITEM NUM
      max-width: 30px;
      flex-grow: 0;
    }
    div:nth-child(2) {
      // SERVICE
      min-width: 100px;
    }
    div:nth-child(3) {
      // SERVICE CODE
      display: none;
      min-width: 60px;
      max-width: 80px;
    }
    div:nth-child(4) {
      // BEGIN DATE
      min-width: 90px;
      max-width: 100px;
    }
    div:nth-child(5) {
      // END DATE
      display: none;
      min-width: 90px;
      max-width: 100px;
    }
    div:nth-child(6) {
      // UNITS
      min-width: 70px;
      max-width: 80px;
      text-align: center;
    }
    div:nth-child(7) {
      // FREQUENCY
      display: none;
      min-width: 70px;
      max-width: 80px;
      text-align: center;
    }
    div:nth-child(8) {
      // VENDOR NAME
      display: none;
      min-width: 100px;
    }
    div:nth-child(9) {
      // TOTAL COST 1
      display: none;
      min-width: 70px;
      max-width: 80px;
      text-align: center;
    }
    div:nth-child(10) {
      // TOTAL COST 2
      display: none;
      min-width: 70px;
      max-width: 80px;
      text-align: center;
    }

    @media screen and (min-width: 600Px) {
      div:nth-child(8) {
        // VENDOR NAME
        display: block;
        min-width: 100px;
      }
      div:nth-child(9) {
        // TOTAL COST 1
        display: block;
      }
      div:nth-child(10) {
        // TOTAL COST 2
        display: block;
      }
    }

    @media screen and (max-width: 100Px) {
      div:nth-child(7) {
        // FREQUENCY
        display: block;
      }
      div:nth-child(3) {
        // SERVICE CODE
        display: block;
      }
      div:nth-child(5) {
        // END DATE
        display: block;
      }
    }
  }
}
