/* The main scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* The background of the draggable scrolling handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* On hover, make the scrolling handle lighter */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* The scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.grid-container {
  background: $white;
}
.actioncenter[data-active-module='casenotes2.0'] {
  background: $white;
  padding: 0 0 20px;
  width: 100%;
}

[data-active-module='casenotes2.0'] {
  .caseNotesModule {
    display: grid;
    grid-template-columns: auto 340px;
    grid-template-rows: auto auto minmax(900px, 1300px) 600px;
    grid-template-areas:
      'header header'
      'nav nav'
      'form roster'
      'cards cards';
    justify-items: stretch;

    .caseNotesHeader {
      grid-area: header;
      padding: 10px 10px 10px;

      h1 {
        color: $primary;
        font-size: $px32;
        font-weight: $_bold;
      }
    }

    .caseNotesDateNav {
      background: $white;
      grid-area: nav;
      margin-bottom: 10px;
      position: sticky;
      top: 0px;
      z-index: 99;
    }

    .caseNotesRosterPicker {
      display: flex;
      grid-area: roster;
      margin: 0 20px 0 10px;
      min-width: calc(100% - 30px);

      .rosterPicker {
        box-shadow: $shadow-m2;
        border-radius: 6px;

        .input.search {
          min-width: 310px;
        }
      }
    }

    .caseNotesForm {
      border-radius: 6px;
      box-shadow: $shadow-m2;
      display: flex;
      flex-flow: column nowrap;
      grid-area: form;
      margin: 0 10px 0 20px;
      position: relative;

      form {
        padding: 6px 10px 10px 10px;

        .input {
          flex-grow: 1;
        }

        .input.time,
        .input.number {
          width: calc(50% - 5px);
        }
        .input.checkbox {
          margin: 0 0 14px;
          width: 100%;
        }
        .input.textarea {
          height: 200px;
          position: relative;
        }
        .input.location,
        .input.service,
        .input.need,
        .input.contact {
          min-width: 300px;
          width: calc(50% - 5px);
        }
      }
    }
    .caseNotesTimer {
      align-items: center;
      align-self: flex-end;
      display: flex;
      padding: 10px 10px 6px 10px;

      p {
        font-size: $px18;
        line-height: normal;
        margin-left: 10px;
        order: 1;
      }

      button:first-of-type {
        margin-right: 4px;
      }
    }

    .caseNotesOverview {
      border-radius: 6px;
      box-shadow: $shadow-m2;
      grid-area: cards;
      margin: 20px 20px 0px;
      padding: 20px;

      .overviewCardsHeader {
        // do stuff son
      }

      .overviewCardsWrap {
        display: grid;
        grid-template-columns: minmax(auto, 140px) minmax(auto, 140px) minmax(auto, 180px) auto auto;
      }

      .overviewCard {
        align-items: center;
        box-shadow: $shadow-m2;
        border-radius: 6px;
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        padding: 0;
        margin: 0 0 8px;
        row-gap: 14px;

        &Main {
          grid-column: 1 / -1;
          padding: 0 10px 20px;

          .consumerName {
            font-size: $px30;
            font-weight: $_bold;
            letter-spacing: 0.04rem;
            margin-bottom: 4px;
          }
          .serviceInfoEle {
            font-size: $px18;
            font-weight: $_bold;
            letter-spacing: 0.04rem;
            margin-bottom: 8px;
          }
          .noteText {
            font-size: $px16;
            font-weight: $_normal;
          }
        }

        .withLabelWrap {
          //border-bottom: 2px solid $black;
          padding: 8px;
        }

        .withLabel {
          font-size: $px24;
          font-weight: $_bold;
          position: relative;
          margin-top: 20px;
        }
        .withLabel::before {
          font-size: $px14;
          font-weight: $_normal;
          position: absolute;
          top: -20px;
          left: 0px;
        }
        .startTime::before {
          content: 'Start Time';
        }
        .endTime::before {
          content: 'End Time';
        }
        .duration::before {
          content: 'Total';
        }
        .enteredBy::before {
          content: 'Entered By';
        }
        .consumer::before {
          content: 'Consumer';
        }
      }
    }
  }

  dialog.modal[open] {
    display: flex;
    flex-flow: column nowrap;

    &::backdrop {
      background-color: rgb(54, 106, 152);
      opacity: 0.6;
    }
  }

  dialog.modal.fullscreenTextarea {
    row-gap: 14px;

    .input.textarea {
      height: auto;
    }
  }

  dialog.modal.insertPhrases[open] {
    height: 60%;
    min-height: 300px;
    max-height: 450px;
    width: 80%;
    min-width: 400px;
    max-width: 600px;

    .phraseWrap {
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0px 4px 0 12px;
      flex-grow: 1;
    }
    .phraseView {
      margin: 0 0 10px 0;
      padding: 20px 10px 15px;
      flex-grow: 0;
    }
    .phrase {
      //border: 2px solid $black;
      box-shadow: $shadow-m2;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      flex-flow: column nowrap;
      margin: 0 8px 10px 0;
      padding: 4px;

      * {
        pointer-events: none;
      }

      .shortcut {
        font-weight: $_bold;
      }
      // .phraseText {
      // }
    }
    button.button {
      margin: 20px 12px 15px 12px;
    }
  }
  dialog.modal.addPhrases[open] {
    height: 60%;
    min-height: 300px;
    max-height: 400px;
    width: 80%;
    min-width: 400px;
    max-width: 535px;

    padding: 14px 10px;

    form {
      flex-grow: 1;

      .input.checkbox {
        margin: 0 0 10px;
      }
      .input.textarea {
        height: 150px;
      }
    }
  }
}

//============================================================
// NEW UI STUFF NEEDS MOVED TO ITS OWN FOLDER
//------------------------------------------------------------
[data-ui] {
  //===========================================
  // VALIDATIONS
  //-------------------------------------------
  .validations {
    border-radius: 6px;
    box-shadow: $shadow-m2;
    padding: 12px 10px;

    .validationErros {
      .validationMessage {
        background-color: rgba(219, 22, 47, 0.4);

        .iconWrap {
          background-color: transparent;
          height: 24px;
          width: 24px;
          perspective: 1000px;
        }

        .iconInner {
          height: 100%;
          position: relative;
          transform-style: preserve-3d;
          transition: transform 1s;
          width: 100%;
        }

        .svgIcon {
          color: $error;
          position: absolute;
          backface-visibility: hidden;
          transition: opacity 0.2s;

          &:first-child {
            // error icon
            opacity: 1;
          }
          &:last-child {
            // checkmark icon
            color: $secondary;
            opacity: 0;
            transform: rotateY(180deg);
          }
        }

        &.valid {
          background-color: rgba(129, 185, 65, 0.4);

          .iconInner {
            transform: rotateY(180deg);
          }

          .svgIcon:first-child {
            // error icon
            opacity: 0;
          }
          .svgIcon:last-child {
            // checkmark icon
            opacity: 1;
          }
        }
      }
    }

    .validationWarnings {
      .validationMessage {
        background-color: rgba(255, 200, 87, 0.4);

        .svgIcon {
          color: $warning;
        }
      }
    }

    .validationMessage {
      align-items: center;
      border-radius: 20px;
      column-gap: 4px;
      display: flex;
      flex-flow: row nowrap;
      padding: 4px 14px 4px 10px;

      &.hidden {
        display: none;
      }

      p {
        font-weight: $_bold;
      }
    }
  }
}
