.grid-container {
  background: $white;
}

[data-active-module='casenotes2.0'] {
  background: $white;
  padding: 0 0 20px;
  width: 100%;

  .caseNotesModule {
    display: grid;
    grid-template-columns: auto 340px;
    grid-template-rows: auto auto minmax(900px, 1300px) auto;
    grid-template-areas:
      'header header'
      'nav nav'
      'form roster'
      'cards cards';
    justify-items: stretch;
  }

  // HEADER
  .caseNotesHeader {
    grid-area: header;
    padding: 10px 10px 10px;

    h1 {
      color: $primary;
      font-size: $px32;
      font-weight: $_bold;
    }
  }

  // DATE NAV
  .caseNotesDateNav {
    background: $white;
    grid-area: nav;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    z-index: 99;
  }

  // ROSTER
  .caseNotesRosterPicker {
    box-shadow: $shadow-m2;
    border-radius: 6px;
    display: flex;
    grid-area: roster;
    margin: 0 20px 0 10px;
    min-width: calc(100% - 30px);

    .rosterPicker {
      .form_field.search {
        min-width: 310px;
      }
    }
  }

  // INACTIVITY WARNING
  dialog.modal.inactivityWarning {
    padding: 14px 10px;

    p {
      margin-bottom: 20px;
    }
  }
}

//============================================================
// NEW UI STUFF NEEDS MOVED TO ITS OWN FOLDER
//------------------------------------------------------------
[data-ui] {
  //===========================================
  // VALIDATIONS
  //-------------------------------------------
  .validations {
    border-radius: 6px;
    box-shadow: $shadow-m2;
    padding: 12px 10px;

    .validationErros {
      .validationMessage {
        background-color: rgba(219, 22, 47, 0.4);

        .iconWrap {
          background-color: transparent;
          height: 24px;
          width: 24px;
          perspective: 1000px;
        }

        .iconInner {
          height: 100%;
          position: relative;
          transform-style: preserve-3d;
          transition: transform 1s;
          width: 100%;
        }

        .svgIcon {
          color: $error;
          position: absolute;
          backface-visibility: hidden;
          transition: opacity 0.2s;

          &:first-child {
            // error icon
            opacity: 1;
          }
          &:last-child {
            // checkmark icon
            color: $secondary;
            opacity: 0;
            transform: rotateY(180deg);
          }
        }

        &.valid {
          background-color: rgba(129, 185, 65, 0.4);

          .iconInner {
            transform: rotateY(180deg);
          }

          .svgIcon:first-child {
            // error icon
            opacity: 0;
          }
          .svgIcon:last-child {
            // checkmark icon
            opacity: 1;
          }
        }
      }
    }

    .validationWarnings {
      .validationMessage {
        background-color: rgba(255, 200, 87, 0.4);

        .svgIcon {
          color: $warning;
        }
      }
    }

    .validationMessage {
      align-items: center;
      border-radius: 20px;
      column-gap: 4px;
      display: flex;
      flex-flow: row nowrap;
      padding: 4px 14px 4px 10px;

      &.hidden {
        display: none;
      }

      p {
        font-weight: $_bold;
      }
    }
  }
}
