[data-active-module="FSS"] {
    .dropdown {
        margin: 0px 5px 20px;
    }

    h3 {
        font-size: 1rem;
    }

    .chkBoxStyle {
        margin-right: 0;
        padding-bottom: 0;

        @media screen and (min-width: 560px) {
            margin-right: 35%;
            padding-bottom: 16px;
        }
    }

    #singleEntryAdminReviewTable {
        margin-top: 10px;

        .table__row {
            > div {
                height: 26px;
                margin-top: 10px;
            }

            > div:nth-child(1) {
                min-width: 20%;
            }

            > div:nth-child(2) {
                display: none;
                min-width: 35%;
            }

            > div:nth-child(3) {
                display: none;
                min-width: 15%;
            }

            @media screen and (min-width: 560px) {
                > div:nth-child(2) {
                    display: block;
                }

                > div:nth-child(3) {
                    display: block;
                }
            }
        }

        .endIcon {
            max-width: 200px !important;
            cursor: pointer;
            margin-right: 100px !important;
        }

        .secondendIcon {
            max-width: 45px !important;
            cursor: pointer;
            margin-right: 20px;
        }
    }

    .btnWrap {
        display: contents;

        @media screen and (min-width: 560px) {
            display: flex;
        }
    }

    .headerWrap {
        display: flow;

        .width25Per {
            width: 100%;
        }

        .width75Per {
            width: 100%;
        }

        .width15Per {
            width: 100%;
        }

        .width13Per {
            width: 100%;
        }

        @media screen and (min-width: 560px) {
            display: flex;
            justify-content: space-between;

            .checkbox-mtd > span:after {
                top: 20px !important;
            }

            .width25Per {
                width: 20%; 
            }

            .width75Per {
                width: 74%;
            }

            .width15Per {
                width: 15%;
                margin-right: 1%;
            }

            .width13Per {
                margin-left: 1%;
                width: 13%;
            }
        }
    }

    .familyDTWrap {
        display: flow;

        .width32Per, width65Per {
            width: 100%;
        }

        @media screen and (min-width: 560px) {
            display: flex;
            justify-content: space-between;

            .checkbox-mtd > span:after {
                top: 24px !important;
            }

            .width32Per {
                width: 32%;
            }

            .width65Per {
                width: 65%;
            }
        }
    }

    .familyBtnWrap {
        display: flex;
        justify-content: space-between;
    }

    .radioDiv {
        :first-child {
            padding-right: 10px;
        }
    }

    .fssTable {
        border-radius: $r-sm;
        overflow: hidden;
        font-size: 16px;

        &__endIcon {
            flex-grow: 0;
            width: 24px;
            max-width: 40px;
            margin: 0;
            pointer-events: all;
            padding: 0;
            cursor: pointer;

            svg {
                width: 24px;
                cursor: pointer;
            }
        }

        &__subTableWrap {
            font-size: 14px;
        }

        &__subChildTableWrap {
            font-size: 14px;
        }

        &__header,
        &__subHeader,
        &__subChildHeader {
            background: $bg-dark;
            color: $font-light;
            padding: 12px 6px;
        }

        &__header,
        &__subHeader,
        &__subChildHeader,
        &__dataRow {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            > div {
                flex-grow: 1;
                margin: 0 5px 0 0;
                padding: 0 5px;
            }

            div:first-child {
                padding-left: 0;
            }
        }

        &__mainDataRow {
            cursor: pointer;
            padding: 10px 6px;
            border: $w-sm solid rgba($black, 0.12);
            border-top: none;
            background: rgba(0, 0, 0, 0.1);
        }

        &__subDataRow {
            padding: 8px 6px;
            border: $w-sm solid rgba($black, 0.12);
            border-top: none;
        }

        &__subChildDataRow {
            padding: 8px 6px;
            border: $w-sm solid rgba($black, 0.12);
            border-top: none;
            background: rgba(0, 0, 0, 0.1);
        }

        &__subRowWrap {
            display: none;

            &.active {
                display: block;
            }
        }

        &__subChildRowWrap {
            display: none;

            &.active {
                display: block;
            }
        }
        // COLUMN WIDTHS
        &__header,
        &__mainDataRow {
            div:nth-child(1) {
                // TOGGLE ICON
                flex-grow: 0;
                width: 32px;
                max-width: 32px;
                pointer-events: all;
            }

            div:nth-child(2) {
                // FAMILY NAME
                width: 150px;
                max-width: 300px;
                pointer-events: none;
            }

            div:nth-child(3) {
                // ADDRESS
                display: none;
                pointer-events: none;
            }

            div:nth-child(4) {
                // PRIMARY PHONE
                width: 80px;
                max-width: 150px;
                pointer-events: none;
            }

            div:nth-child(5) {
                // NOTES
                width: 80px;
                max-width: 150px;
                pointer-events: none;
                word-wrap: break-word;
                text-overflow: ellipsis;
            }

            div:nth-child(6) {
                // ADD ICON
                flex-grow: 0;
                width: 32px;
                max-width: 32px;
                pointer-events: all;
            }

            @media screen and (min-width: 600px) {
                div:nth-child(3) {
                    // ADDRESS
                    display: block;
                    width: 150px;
                    max-width: 300px;
                    word-wrap: break-word;
                    text-overflow: ellipsis;
                }
            }
        }

        &__subHeader,
        &__subDataRow {
            div:nth-child(1) {
                // TOGGLE ICON
                flex-grow: 0;
                width: 32px;
                max-width: 32px;
                pointer-events: all;
            }

            div:nth-child(2) {
                // START DATE
                width: 80px;
                max-width: 80px;
                text-overflow: ellipsis;
            }

            div:nth-child(3) {
                // END DATE
                display: none;
            }

            div:nth-child(4) {
                // COPAY
                display: none;
            }

            div:nth-child(5) {
                // ALLOCATION
                width: 80px;
                max-width: 80px;
            }

            div:nth-child(6) {
                // ENCM
                display: none;
            }

            div:nth-child(7) {
                // AMTPAID
                width: 80px;
                max-width: 80px;
            }

            div:nth-child(8) {
                // BALANCE
                width: 80px;
                max-width: 80px;
            }

            div:nth-child(9) {
                // FUNDING
                display: none;
            }

            div:nth-child(10) {
                // ADD ICON
                flex-grow: 0;
                width: 32px;
                max-width: 32px;
                pointer-events: all;
            }


            @media screen and (min-width: 600px) {
                div:nth-child(3) {
                    display: block;
                    width: 80px;
                    max-width: 80px;
                }

                div:nth-child(4) {
                    display: block;
                    width: 80px;
                    max-width: 80px;
                }

                div:nth-child(6) {
                    display: block;
                    width: 80px;
                    max-width: 80px;
                }

                div:nth-child(9) {
                    display: block;
                    width: 80px;
                    max-width: 80px;
                }
            }
        }

        &__subChildHeader,
        &__subChildDataRow {
            div:nth-child(1) {
                // TOGGLE ICON
                flex-grow: 0;
                width: 32px;
                max-width: 32px;
                pointer-events: all;
            }

            div:nth-child(2) {
                // Family Member
                width: 170px;
                max-width: 170px;
                text-overflow: ellipsis;
            }

            div:nth-child(3) {
                // Service Code
                display: none;
            }

            div:nth-child(4) {
                // Vendor
                display: none;
            }

            div:nth-child(5) {
                // Encumbered
                display: none;
            }

            div:nth-child(6) {
                // Paid amount
                display: none;
            }

            div:nth-child(7) {
                //  Date Paid
                width: 80px;
                max-width: 80px;
            }

            div:nth-child(8) {
                // ADD ICON
                flex-grow: 0;
                width: 32px;
                max-width: 32px;
                pointer-events: all;
            }


            @media screen and (min-width: 600px) {
                div:nth-child(3) {
                    display: block;
                    width: 145px;
                    max-width: 145px;
                }

                div:nth-child(4) {
                    display: block;
                    width: 250px;
                    max-width: 250px;
                }

                div:nth-child(5) {
                    display: block;
                    width: 80px;
                    max-width: 80px;
                }

                div:nth-child(6) {
                    display: block;
                    width: 80px;
                    max-width: 80px;
                }
            }
        }
    }
}
