.submenu {
  .menuTopDisplay {
    margin-bottom: 8px;
  }
}

.settingMenuCard {
  margin-bottom: 5px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: $shadow-m2;
  padding: 0px 7px;

  .header {
    color: #fffffff0;
    padding: 8px 0 5px 9px;
    margin-bottom: 15px;
    background: $bg-dark2;
    box-shadow: 1px 0px 6px #0000006b;
    margin-left: -7px;
    margin-right: -7px;
  }
}

.submenu.util-menu__defaults {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;

  .settingMenuCard {
    .checkboxWrap {
      text-align: right;
    }
    .checkbox {
      padding-bottom: 15px;
    }
    .defaultLocationDD {
      margin-bottom: 2px;
    }
    .rllCheckbox {
      padding-bottom: 10px;
    }
  }
}

// Widget Settings

.util-menu__widgetSettings {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;

  .widgetWrap {
    overflow: hidden;
    position: relative;
  }

  .widgetHeader {
    align-items: center;
    background: $bg-dark2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    .checkbox-mtd:before {
      background-color: $white;
    }
  }

  .widgetBody {
    transform: translateY(-100%);
    transition: all 200ms linear;
    max-height: 0px;

    &.active {
      transform: translateY(0);
      max-height: fit-content;
    }
  }
}
