.submenu {
  .menuTopDisplay {
    margin-bottom: 8px;
  }
}
.settingMenuCard {
  margin-bottom: 5px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: $shadow-m2;
  padding: 0px 7px;

  .header {
    color: #fffffff0;
    padding: 8px 0 5px 9px;
    margin-bottom: 15px;
    background: $bg-dark2;
    box-shadow: 1px 0px 6px #0000006b;
    margin-left: -7px;
    margin-right: -7px;
  }
}

.submenu.util-menu__defaults {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;

  .settingMenuCard {
    .checkboxWrap {
      text-align: right;
    }
    .checkbox {
      padding-bottom: 15px;
    }
    .defaultLocationDD {
      margin-bottom: 2px;
    }
    .rllCheckbox {
      padding-bottom: 10px;
    }
    // > div {
    //   margin-left: 10px;
    //   margin-right: 10px;
    // }
  }
}

.submenu.util-menu__widgetSettings {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  .widgetSettingsSaveBtn {
    margin-top: -10px;
    width: 100%;
    transition-duration: .18s;
    transition-timing-function: linear;
    background: $bg-dark;
    &.saved {
      background: $bg-dark2;
    }
  }


  .cnProductivity {
    .group1 {
      display: flex;
      margin-top: 10px;
      > div {
        flex-grow: 1;
        &:first-child {
          max-width: 110px;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
    }
    .group2 {
      width: 250px;
      margin-top: 10px;
    }
  }
  .cnCaseLoad {
    .settingsCheckBox {
      margin-bottom: 10px;
    }
  }
  #productivityThresholdPercentage,
  #cnProductivityDaysBack,
  #cnProductivityWorkHoursPerDay {
    text-align: right;
  }


}

