[data-ui] {
  .waitingList {
    &__header {
      display: flex;
      flex-flow: row wrap;
      margin: 0 0 10px 0;
    }

    &__body {
      display: flex;
      flex-flow: row;
    }
  }

  .waitingListOverview {
    display: flex;
    column-gap: 10px;
    flex-flow: row;
    width: 100%;

    .ui_table {
      flex-grow: 1;
    }

    .rosterPicker {
      min-width: 300px;
      max-height: calc(100vh - 200px);
    }
  }

  // FORM
  .waitingListAssessment {
    display: flex;
    flex-flow: column;
    max-width: 1000px;

    .wlPage {
      order: 10;

      h2 {
        margin-bottom: 10px;
      }

      form {
        flex-flow: column nowrap;
      }

      &.hiddenPage {
        display: none;
      }
    }

    #waitingListInfo {
      order: 1;
    }
    #conditions {
      order: 2;
    }
    #participants {
      order: 3;
    }
    #contributingCircumstances {
      order: 4;
    }
  }
  .waitingListTableOFContents {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    min-width: 250px;

    a {
      color: $black;
    }
    .section {
      margin: 0 0 10px 0;
    }
    .subsection {
      margin: 0 0 6px 0;
    }
  }
}
