.grid-container {
  display: flex;
  flex-flow: column;
}

[data-active-module='waitingList'] {
  display: flex;
  flex-grow: 1;

  // MODULE WRAP
  .waitingList {
    &__header {
      display: flex;
      flex-flow: row;
      margin: 0 0 10px 0;
    }

    &__body {
      display: flex;
      flex-flow: row;
    }
  }

  // ROSTER PICKER
  .waitingListRoster {
    min-width: 300px;
  }

  // MAIN ASSESSMENT
  .waitingListAssessment {
    display: flex;
    flex-flow: column;

    .wlPage {
      order: 10;

      h2 {
        margin-bottom: 10px;
      }

      form {
        flex-flow: column nowrap;
      }

      &.hiddenPage {
        background-color: $error;
        pointer-events: none;
        * {
          opacity: 0.2;
        }
      }
    }

    #waitingListInfo {
      order: 1;
    }
    #conditions {
      order: 2;
    }
    #participants {
      order: 3;
    }
  }

  // ASSESSMENT OVERVIEW
  .waitingListOverview {
    flex-grow: 1;
  }
}
