// Team Member Table
#signaturesTable {
  &.sortableTable {
    .table__row {
      // Column Widths
      > div:nth-child(2) {
        flex-basis: 90px; // Team Member
      }
      // > div:nth-child(3) {
      //   flex-basis: 90px; // Relatioship Type
      // }
      > div:nth-child(3) {
        // Name
        flex-basis: 80px;
        max-width: 212px;
        word-break: break-all;
      }
      > div:nth-child(4) {
        // Participated
        display: none;
        flex-basis: 80px;
      }
      > div:nth-child(5) {
        // signature type
        flex-basis: 40px;
      }
      @media screen and (min-width: 560px) {
        > div:nth-child(4) {
          // Participated
          display: block;
        }
      }
    }
  }
  .table__row {
    // cursor: pointer;
    > div {
      flex-grow: 1;
      margin: 0 5px 0 0;
    }
    > div:last-child {
      margin: 0;
    }

    // Column Widths
    > div:nth-child(1) {
      flex-basis: 90px; // Team Member
    }
    // > div:nth-child(2) {
    //   flex-basis: 90px; // Relationship Type
    // }
    > div:nth-child(2) {
      // Name
      flex-basis: 80px;
      max-width: 212px;
      word-break: break-all;
    }
    > div:nth-child(3) {
      // Participated
      display: none;
      flex-basis: 80px;
    }
    > div:nth-child(4) {
      // signature type
      flex-basis: 40px;
    }
    @media screen and (min-width: 560px) {
      > div:nth-child(3) {
        display: block;
      }
    }
  }
  .table__row[data-signed='false'] {
    background: $bg-warning;
  }
  .table__row[data-hideicon] {
    .endIcon svg {
      cursor: none;
      opacity: 0;
      pointer-events: none;
    }
  }
  .table__row[data-hideDeleteicon] {
    .endIcon {
      order: 9;
    }
    .secondendIcon {
      pointer-events: none;
      cursor: none;
      
      svg {
        cursor: none;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .table__row[data-eDigitalSigned] {
    .endIcon {
      pointer-events: none;
      cursor: none;
    }
  }

  margin-bottom: 20px;
}
#sig_addMember {
  margin: 10px 5px 0px 0px;
}
#sig_assignCaseLoad {
  margin: 10px 5px 0px 0px;
}
#sig_addVendor {
  margin: 10px 5px 0px 0px;
}
// Popup Globals
#sig_mainPopup,
#sig_signPopup {
  .changeMindQuestion {
    margin: 0 0 20px 0;
  }
  .changeMindQuestionText {
    line-height: 1.4;
    margin: 0 0 10px 0;
  }
  .contactQuestion {
    margin: 0 0 20px 0;
  }
  .contactQuestionText {
    line-height: 1.4;
    margin: 0 0 8px 0;

    &.disabled {
      .inlineDropdown {
        select {
          color: rgba(0, 0, 0, 0.5);
          // opacity: 0.6;
          pointer-events: none;
        }
      }
    }
  }
  .csContactInput {
    margin: 0 0 10px 0;
  }
  .inlineDropdown__select {
    max-width: 100%;
    min-width: 50px !important;
  }
  .h3Title {
    margin: 0 0 14px 0;
  }
}
// Team Member Popup *First Page
#sig_mainPopup {
  max-height: 700px;
  padding-top: 20px;

  .teamMemberDropdown {
    margin-top: 20px;
  }

  // link btns
  .linkBtn {
    width: 100%;
    margin-bottom: 10px;
  }

  // change mind question / ssa dropdown
  .changeMindQuestion {
    &.error {
      .inlineDropdown,
      .inlineDropdown__select {
        color: $font-error;
      }
    }
  }
  // contact question / vendor dropdown
  .contactQuestionText {
    margin: 0 0 26px;

    &.error {
      .inlineDropdown,
      .inlineDropdown__select {
        color: $font-error;
      }
    }
  }
  .csContactInput {
    max-width: 600px;
  }

  // participation radios
  .sig_radioContainer {
    display: flex;
    > p {
      max-width: 175px;
      padding-right: 20px;
    }
    .signatures_radioDiv {
      display: inline-block;
      padding: 5px;
      margin-left: 10px;
      &.error {
        outline: 2px solid #db162f;
        color: inherit;
      }
      > label:nth-child(1) {
        margin-right: 15px;
      }
      > label span {
        padding-left: 5px;
      }
    }
    margin-bottom: 15px;
  }
  .deleteWrap {
    border-top: 2px solid $gray;
    padding-top: 10px;
  }
}

// Sign & Dissent Popup *Second Page
#sig_signPopup {
  max-height: 700px;
  max-width: 600px;

  &.fadeInside {
    * {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .signature-pad {
    margin: 0 0 15px;
  
    &--actions {
      display: flex;
      button {
        margin: 0;
  
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  
    img {
      outline: 2px solid $font-dark;
      width: 100%;
    }
  
    .ispCanvas {
      outline: 2px solid $font-dark;
      //width: 100%;
    }
  }

  .popup__header {
    margin: 0 0 14px;
  }
  .signature-pad--body {
    &.disabled {
      .ispCanvas {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
  div.textarea {
    height: auto;
    min-height: 100px;
    textarea.autosize {
      height: auto;
      min-height: 100px;
    }
  }
  .ic_questionContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 0 0 10px;

    .standardQuestionText,
    .changeMindQuestionText,
    .contactQuestionText {
      flex-basis: 70%;
      flex-grow: 1;
      padding-right: 8px;
    }

    .csContactInput {
      width: 100%;
    }

    .ic_questionRadioContainer {
      display: flex;
      flex-flow: column nowrap;
      flex-basis: 30%;
      max-width: 50px;

      &.error {
        outline: 2px solid $font-error;
      }

      &.disabled {
        label {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      .radio {
        margin-bottom: 4px;
      }
    }
  }
  .innerWrap {
    align-items: center;
    display: flex;

    .input-field {
      margin: 0;
    }

    .attachmentInput {
      width: 45%;
    }

    .attachmentInput,
    .signAttachmentDesc {
      margin-right: 10px;
    }
  }
  .btnWrap {
    #clearSigBtn {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
#clearSignConfirmPopup {
  background: $bg-warning;

  p {
    color: $font-dark;
    font-weight: $normal;
    text-align: center;
    padding-bottom: 10px;
  }
}

// Import Popups
#importRelationshipPopup,
#importSalesforcePopup,
#guardianPopup {
  .message {
    font-weight: 500;
    margin: 0 0 10px;
  }

  .relationshipsWrap {
    margin: 0 0 10px;
  }

  .relationship {
    cursor: pointer;
    font-weight: $bold;
    color: $primary;
    padding: 4px 0px 4px 4px;

    &.selected {
      background: $yellow;
    }
    &.error {
      color: $font-error;
    }

    span {
      font-weight: $light;
      color: $font-dark;
    }
  }
}

#existingRelationshipPopup {
  .message {
    .prompt {
      margin: 10px 0 0 0;
    }
  }
}

.signAttachmentDesc {
  cursor: pointer;
  margin: 0 0 20px;
}

// assignCaseLoad
.assignCaseLoadPopup {
  .popupMessage {
    margin: 0 0 10px;
    font-style: italic;
  }
  .peopleListWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0 15px;
  }
  .assignCaseLoadPeopleList {
    flex-basis: 100%;
    margin: 0 0 10px;

    > p {
      font-weight: $bold;
      margin: 0 0 5px;
    }

    div {
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: scroll;

      p {
        cursor: pointer;
        padding: 2px 0px 2px 4px;

        &.selected {
          background: $secondary;
        }
      }
    }
  }
  .btnWrap {
    margin: 0;
  }
}
.confirmCaseLoadPopup {
  min-height: 300px;

  .popupMessage {
    margin: 0 0 10px;

    span {
      font-weight: $normal;
    }
  }
  .assignedConsumerList {
    margin: 0 0 10px;

    p {
      font-weight: 500;
      margin: 0 0 5px;

      span {
        display: block;
        font-weight: 400;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .assignCaseLoadPopup {
    max-width: 800px;
    
    .assignCaseLoadPeopleList {
      flex-basis: 49%;
    }
  }
}
