.ispServicesSection {
  margin-bottom: 20px;
}
// tables
#paidSupportsTable {
  margin-bottom: 10px;

  .table__row {
    cursor: pointer;

    &.errorRow {
      /* Target the 7th and 8th divs (Begin Date and End Date columns) */
      div:nth-child(8),
      div:nth-child(9) {
        color: red;
      }
    }

    &.selected {
      background: $secondary;
    }

    > div {
      flex-grow: 1;
      margin: 0 5px 0 0;
      overflow-wrap: break-word;
    }
    > div:last-child {
      margin: 0;
    }
  }

  // assessment area, scope of service, begin date, end date, ...rest

  &:not(.sortableTable) {
    .table__row {
      // Column Widths
      > div:nth-child(1) {
        // assessment area
        display: block;
        width: 135px;
        max-width: 156px;
      }
      > div:nth-child(2) {
        // funding source
        display: none;
        width: 80px;
        max-width: 95px;
      }
      > div:nth-child(3) {
        // service name
        display: none;
        width: 140px;
      }
      > div:nth-child(4) {
        // provider name
        display: none;
        width: 125px;
      }
      > div:nth-child(5) {
        // scope of service
        display: block;
        width: 80px;
        flex-grow: 2;
      }
      > div:nth-child(6) {
        // how often/how much
        display: none;
        width: 100px;
        max-width: 140px;
      }
      > div:nth-child(7) {
        // begin
        display: block;
        min-width: 95px; 
        max-width: 100px;
      }
      > div:nth-child(8) {
        // end date
        display: none;
        min-width: 86px;
        max-width: 90px;
      }

      @media screen and (min-width: 500px) {
        > div:nth-child(8) {
          // End Date
          display: block;
        }
      }
      @media screen and (min-width: 600px) {
        > div:nth-child(2) {
          // Assessment Area
          display: block;
        }
      }
      @media screen and (min-width: 700px) {
        > div:nth-child(4) {
          // Provider Name
          display: block;
        }
      }
      @media screen and (min-width: 800px) {
        > div:nth-child(6) {
          // how often/how much
          display: block;
        }
      }
      @media screen and (min-width: 900px) {
        > div:nth-child(2) {
          // funding source
          display: none;
          width: 80px;
          max-width: 124px;
        }
        > div:nth-child(4) {
          // Provider Name
          display: block;
          min-width: 86px;
          max-width: 90px;
        }
        > div:nth-child(8) {
          // end date
          display: none;
          min-width: 86px;
          max-width: 90px;
        }

        @media screen and (min-width: 500px) {
          > div:nth-child(2) {
            display: block;
          }
        }
        @media screen and (min-width: 600px) {
          > div:nth-child(3) {
            display: block;
          }
        }
        @media screen and (min-width: 700px) {
          > div:nth-child(4) {
            display: block;
          }
        }
        @media screen and (min-width: 800px) {
          > div:nth-child(6) {
            display: block;
          }
        }
        @media screen and (min-width: 900px) {
          > div:nth-child(8) {
            display: block;
          }
        }
      }
    }
  }
  &.sortableTable .table__row {
    // Column Widths
    > div:nth-child(2) {
      // assessment area
      display: block;
      width: 135px;
      max-width: 156px;
    }
    > div:nth-child(3) {
      // funding source
      display: none;
      width: 80px;
      max-width: 124px;
    }
    > div:nth-child(4) {
      // service name
      display: none;
      width: 140px;
    }
    > div:nth-child(5) {
      // provider name
      display: none;
      width: 125px;
    }
    > div:nth-child(6) {
      // scope of service
      display: block;
      width: 80px;
      flex-grow: 2;
    }
    > div:nth-child(7) {
      // how often/how much
      display: none;
      width: 100px;
      // max-width: 140px;
    }
    > div:nth-child(8) {
      // begin
      display: block;
      min-width: 86px;
      max-width: 100px;
    }
    > div:nth-child(9) {
      // end date
      display: none;
      min-width: 86px;
      max-width: 90px;
    }

    @media screen and (min-width: 500px) {
      > div:nth-child(9) {
        display: block;
      }
    }
    @media screen and (min-width: 600px) {
      > div:nth-child(3) {
        display: block;
      }
    }
    @media screen and (min-width: 700px) {
      > div:nth-child(5) {
        display: block;
      }
    }
    @media screen and (min-width: 800px) {
      > div:nth-child(7) {
        display: block;
      }
    }
    @media screen and (min-width: 900px) {
      > div:nth-child(5) {
        // provider name
        display: block;
        min-width: 111px;
        max-width: 120px;
      }
      > div:nth-child(8) {
        // end date
        display: none;
        min-width: 86px;
        max-width: 100px;
      }
      > div:nth-child(9) {
        // funding source
        display: none;
        width: 80px;
        max-width: 124px;
      }

      @media screen and (min-width: 500px) {
        > div:nth-child(8) {
          // Start Date
          display: block;
        }
      }
      @media screen and (min-width: 600px) {
        > div:nth-child(4) {
          // Service name
          display: block;
        }
      }
      @media screen and (min-width: 700px) {
        > div:nth-child(5) {
          // provider name
          display: block;
        }
      }
      @media screen and (min-width: 800px) {
        > div:nth-child(7) {
          // How Often/How Much
          display: block;
        }
      }
      @media screen and (min-width: 900px) {
        > div:nth-child(9) {
          // End Date
          display: block;
        }
      }
    }
  }
}
#additionalSupportsTable {
  margin-bottom: 10px;

  &.table,
  &.sortableTable {
    .table__row {
      cursor: pointer;

      > div {
        flex-grow: 1;
        margin: 0 5px 0 0;
        overflow-wrap: break-word;
      }
      > div:last-child {
        margin: 0;
      }
    }
  }

  &:not(.sortableTable) .table__row {
    // Column Widths
    > div:nth-child(1) {
      // assessment area
      display: block;
      width: 115px;
      max-width: 156px;
    }
    > div:nth-child(2) {
      // who supports
      display: block;
      width: 80px;
    }
    > div:nth-child(3) {
      // what support looks like
      display: block;
      width: 80px;
      flex-grow: 2;
    }
    > div:nth-child(4) {
      // when/how often
      display: none;
      width: 80px;
    }

    @media screen and (min-width: 500px) {
      > div:nth-child(4) {
        display: block;
      }
    }
  }

  &.sortableTable {
    .table__row {
      // Column Widths
      > div:nth-child(2) {
        // assessment area
        display: block;
        width: 115px;
        max-width: 156px;
      }
      > div:nth-child(3) {
        // who supports
        display: block;
        width: 80px;
      }
      > div:nth-child(4) {
        // what support looks like
        display: block;
        width: 80px;
        flex-grow: 2;
      }
      > div:nth-child(5) {
        // when/how often
        display: none;
        width: 80px;
      }

      @media screen and (min-width: 500px) {
        > div:nth-child(5) {
          display: block;
        }
      }
    }
  }
}
#professionalReferralsTable {
  margin-bottom: 10px;

  &.table,
  &.sortableTable {
    .table__row {
      cursor: pointer;

      > div {
        flex-grow: 1;
        margin: 0 5px 0 0;
        overflow-wrap: break-word;
      }
      > div:last-child {
        margin: 0;
      }
    }
  }

  // assessment area, who supports, reason for refferal, ...rest
  &:not(.sortableTable) .table__row {
    // Column Widths
    > div:nth-child(1) {
      // assessment area
      display: block;
      width: 115px;
      max-width: 156px;
    }
    > div:nth-child(2) {
      // new or existing
      display: none;
      width: 80px;
      max-width: 90px;
    }
    > div:nth-child(3) {
      // who supports
      display: block;
      width: 80px;
    }
    > div:nth-child(4) {
      // reason for referral
      display: block;
      width: 80px;
      // flex-grow: 2;
    }

    @media screen and (min-width: 500px) {
      > div:nth-child(2) {
        display: block;
      }
    }
  }

  &.sortableTable {
    .table__row {
      // Column Widths
      > div:nth-child(2) {
        // assessment area
        display: block;
        width: 115px;
        max-width: 156px;
      }
      > div:nth-child(3) {
        // new or existing
        display: none;
        width: 80px;
        max-width: 90px;
      }
      > div:nth-child(4) {
        // who supports
        display: block;
        width: 80px;
      }
      > div:nth-child(5) {
        // reason for referral
        display: block;
        width: 80px;
        flex-grow: 2;
      }

      @media screen and (min-width: 500px) {
        > div:nth-child(3) {
          display: block;
        }
      }
    }
  }
}
// popups
.paidSupportPopup {
  .popup__header,
  .btnWrap {
    width: 100%;
  }

  @media screen and (min-width: '840px') {
    display: flex;
    flex-flow: row wrap;
    max-width: 800px;

    .left {
      margin: 0 10px 0 0;
    }

    .left,
    .right {
      width: 49%;
    }
  }
}

.multiEditPopup {
  .popupMessage {
    position: absolute;
    top: 12px;
    right: 10px;
    font-style: italic;
  }

  .popup__header {
    margin: 0 0 20px;
  }
}

.btnWrap {
  .addRowBtnPaidSupports {
    width: 100%;
    margin: 0 0 10px;
  }
  .mutliEditBtnWrap {
    display: flex;
    width: 100%;
    margin: 0;

    button {
      margin-right: 10px;
      width: 100px;
    }

    .multiEditBtn {
      margin: 0;
      width: auto;

      &.enabled {
        margin-right: 10px;
        background: $secondary;
      }
    }
  }

  @media screen and (min-width: '800px') {
    .addRowBtnPaidSupports {
      max-width: 200px;
      margin: 0 10px 0 0;
    }
    .mutliEditBtnWrap {
      width: auto;
    }
  }
}

.continuousMonitoring {
  background: $primary;
  border-radius: 4px;
  padding: 10px;
  margin: 0 0 10px;

  .headingText {
    color: $white;
    font-weight: 500;
    margin: 0 0 6px;
  }

  .subHeadingText {
    color: $white;
    margin: 0 0 6px;
  }
  .labelText {
    color: $white;
    margin: 0 0 4px;
  }

  .input-field.textarea {
    color: $black;
    background: $white;
    border-radius: 4px;
    margin: 0;
  }
}


//IMPORTED TABLES 
#importedPlanRisksTable {
  margin-bottom: 10px;

  .table__row {
    cursor: pointer;

    > div {
      flex-grow: 1;
      margin: 0 5px 0 0;
      overflow-wrap: break-word;
    }
    > div:last-child {
      margin: 0;
    }

    // Column Widths
    > div:nth-child(1) {
      // checkbox
      display: block;
      width: 30px;
      max-width: 30px;
    }
    > div:nth-child(2) {
      // first data column (e.g., risk area)
      display: block;
      width: 145px;
      max-width: 156px;
    }
    > div:nth-child(3) {
      // second data column
      display: block;
      width: 80px;
      flex-grow: 2;
    }
    > div:nth-child(4) {
      // third data column
      display: none;
      width: 80px;
      flex-grow: 2;
    }
    > div:nth-child(5) {
      // fourth data column
      display: none;
      width: 80px;
    }
    > div:nth-child(6) {
      // fifth data column
      display: block;
      width: 80px;
    }

    @media screen and (min-width: 560px) {
      > div:nth-child(4) {
        display: block;
      }
      > div:nth-child(5) {
        display: block;
      }
    }
  }

  &:not(.sortableTable) .table__row {
    // Adjustments for non-sortable table if needed
  }

  &.sortableTable {
    .table__row {
      // Additional styles for sortable table if needed
    }
  }
}

#importedExperiencesTable.table {
  margin-bottom: 10px;

  .table__row {
    cursor: pointer;

    > div {
      flex-grow: 1;
      margin: 0 5px 0 0;
      overflow-wrap: break-word;
    }
    > div:last-child {
      margin: 0;
    }
  }

  &:not(.sortableTable) .table__row {
    // Column Widths
    > div:nth-child(1) {
      // checkbox
      display: block;
      width: 30px;
      max-width: 30px;
    }
    > div:nth-child(2) {
      // first data column
      display: block;
      width: 115px;
      flex-grow: 2;
    }
    > div:nth-child(3) {
      // second data column
      display: block;
      width: 80px;
      flex-grow: 2;
    }
    > div:nth-child(4) {
      // third data column
      display: block;
      width: 80px;
      flex-grow: 2;
    }
    > div:nth-child(5) {
      // fourth data column
      display: block;
      width: 80px;
      max-width: 200px;
    }
  }

  &.sortableTable {
    .table__row {
      // Column Widths
      > div:nth-child(1) {
        // checkbox
        display: block;
        width: 30px;
        max-width: 30px;
      }
      > div:nth-child(2) {
        // first data column
        display: block;
        width: 115px;
        flex-grow: 2;
      }
      > div:nth-child(3) {
        // second data column
        display: block;
        width: 80px;
        flex-grow: 2;
      }
      > div:nth-child(4) {
        // third data column
        display: block;
        width: 80px;
        flex-grow: 2;
      }
      > div:nth-child(5) {
        // fourth data column
        display: block;
        width: 80px;
        max-width: 200px;
      }
    }
  }
}

#importedPaidSupportsTable {
  margin-bottom: 10px;

  .table__row {
    cursor: pointer;

    &.selected {
      background: $secondary;
    }

    > div {
      flex-grow: 1;
      margin: 0 5px 0 0;
      overflow-wrap: break-word;
    }
    > div:last-child {
      margin: 0;
    }
  }

  // assessment area, scope of service, begin date, end date, ...rest

  &:not(.sortableTable) {
    .table__row {
      // Column Widths
      > div:nth-child(1) {
        // checkbox
        display: block;
        width: 30px;
        max-width: 30px;
      }
      > div:nth-child(2) {
        // assessment area
        display: block;
        width: 135px;
        max-width: 156px;
      }
      > div:nth-child(3) {
        // funding source
        display: none;
        width: 80px;
        max-width: 95px;
      }
      > div:nth-child(4) {
        // service name
        display: none;
        width: 140px;
      }
      > div:nth-child(5) {
        // provider name
        display: none;
        width: 125px;
      }
      > div:nth-child(6) {
        // scope of service
        display: block;
        width: 80px;
        flex-grow: 2;
      }
      > div:nth-child(7) {
        // how often/how much
        display: none;
        width: 100px;
        max-width: 140px;
      }
      > div:nth-child(8) {
        // begin
        display: block;
        min-width: 95px;
        max-width: 100px;
      }
      > div:nth-child(9) {
        // end date
        display: none;
        min-width: 86px;
        max-width: 90px;
      }

      @media screen and (min-width: 500px) {
        > div:nth-child(9) {
          display: block;
        }
      }
      @media screen and (min-width: 600px) {
        > div:nth-child(3) {
          display: block;
        }
      }
      @media screen and (min-width: 700px) {
        > div:nth-child(5) {
          display: block;
        }
      }
      @media screen and (min-width: 800px) {
        > div:nth-child(7) {
          display: block;
        }
      }
      @media screen and (min-width: 900px) {
        > div:nth-child(3) {
          // funding source
          display: none;
          width: 80px;
          max-width: 124px;
        }
        > div:nth-child(5) {
          // Provider Name
          display: block;
          min-width: 86px;
        }
        > div:nth-child(9) {
          // end date
          display: none;
          min-width: 86px;
          max-width: 90px;
        }

        @media screen and (min-width: 500px) {
          > div:nth-child(3) {
            display: block;
          }
        }
        @media screen and (min-width: 600px) {
          > div:nth-child(4) {
            display: block;
          }
        }
        @media screen and (min-width: 700px) {
          > div:nth-child(5) {
            display: block;
          }
        }
        @media screen and (min-width: 800px) {
          > div:nth-child(7) {
            display: block;
          }
        }
        @media screen and (min-width: 900px) {
          > div:nth-child(9) {
            display: block;
          }
        }
      }
    }
  }
  &.sortableTable .table__row {
    // Column Widths
    > div:nth-child(1) {
      // checkbox
      display: block;
      width: 30px;
      max-width: 30px;
    }
    > div:nth-child(2) {
      // assessment area
      display: block;
      width: 135px;
      max-width: 156px;
    }
    > div:nth-child(3) {
      // funding source
      display: none;
      width: 80px;
      max-width: 124px;
    }
    > div:nth-child(4) {
      // service name
      display: none;
      width: 140px;
    }
    > div:nth-child(5) {
      // provider name
      display: none;
      width: 125px;
    }
    > div:nth-child(6) {
      // scope of service
      display: block;
      width: 80px;
      flex-grow: 2;
    }
    > div:nth-child(7) {
      // how often/how much
      display: none;
      width: 100px;
      // max-width: 140px;
    }
    > div:nth-child(8) {
      // begin
      display: block;
      min-width: 86px;
      max-width: 100px;
    }
    > div:nth-child(9) {
      // end date
      display: none;
      min-width: 86px;
      max-width: 90px;
    }

    @media screen and (min-width: 500px) {
      > div:nth-child(9) {
        display: block;
      }
    }
    @media screen and (min-width: 600px) {
      > div:nth-child(3) {
        display: block;
      }
    }
    @media screen and (min-width: 700px) {
      > div:nth-child(5) {
        display: block;
      }
    }
    @media screen and (min-width: 800px) {
      > div:nth-child(7) {
        display: block;
      }
    }
    @media screen and (min-width: 900px) {
      > div:nth-child(5) {
        // provider name
        display: block;
        min-width: 111px;
        max-width: 120px;
      }
      > div:nth-child(8) {
        // end date
        display: none;
        min-width: 86px;
        max-width: 100px;
      }
      > div:nth-child(9) {
        // funding source
        display: none;
        width: 80px;
        max-width: 124px;
      }

      @media screen and (min-width: 500px) {
        > div:nth-child(8) {
          // Start Date
          display: block;
        }
      }
      @media screen and (min-width: 600px) {
        > div:nth-child(4) {
          // Service name
          display: block;
        }
      }
      @media screen and (min-width: 700px) {
        > div:nth-child(5) {
          // provider name
          display: block;
        }
      }
      @media screen and (min-width: 800px) {
        > div:nth-child(7) {
          // How Often/How Much
          display: block;
        }
      }
      @media screen and (min-width: 900px) {
        > div:nth-child(9) {
          // End Date
          display: block;
        }
      }
    }
  }
}

#importedAdditionalSupportsTable {
  margin-bottom: 10px;

  &.table,
  &.sortableTable {
    .table__row {
      cursor: pointer;

      > div {
        flex-grow: 1;
        margin: 0 5px 0 0;
        overflow-wrap: break-word;
      }
      > div:last-child {
        margin: 0;
      }
    }
  }

  &:not(.sortableTable) .table__row {
    // Column Widths
    > div:nth-child(1) {
      // checkbox
      display: block;
      width: 30px;
      max-width: 30px;
    }
    > div:nth-child(2) {
      // assessment area
      display: block;
      width: 115px;
      max-width: 156px;
    }
    > div:nth-child(3) {
      // who supports
      display: block;
      width: 80px;
    }
    > div:nth-child(4) {
      // what support looks like
      display: block;
      width: 80px;
      flex-grow: 2;
    }
    > div:nth-child(5) {
      // when/how often
      display: none;
      width: 80px;
    }

    @media screen and (min-width: 500px) {
      > div:nth-child(5) {
        display: block;
      }
    }
  }

  &.sortableTable {
    .table__row {
      // Column Widths
      > div:nth-child(1) {
        // checkbox
        display: block;
        width: 30px;
        max-width: 30px;
      }
      > div:nth-child(2) {
        // assessment area
        display: block;
        width: 115px;
        max-width: 156px;
      }
      > div:nth-child(3) {
        // who supports
        display: block;
        width: 80px;
      }
      > div:nth-child(4) {
        // what support looks like
        display: block;
        width: 80px;
        flex-grow: 2;
      }
      > div:nth-child(5) {
        // when/how often
        display: none;
        width: 80px;
      }

      @media screen and (min-width: 500px) {
        > div:nth-child(5) {
          display: block;
        }
      }
    }
  }
}

#importedProfessionalReferralsTable {
  margin-bottom: 10px;

  &.table,
  &.sortableTable {
    .table__row {
      cursor: pointer;

      > div {
        flex-grow: 1;
        margin: 0 5px 0 0;
        overflow-wrap: break-word;
      }
      > div:last-child {
        margin: 0;
      }
    }
  }

  // assessment area, who supports, reason for refferal, ...rest
  &:not(.sortableTable) .table__row {
    // Column Widths
    > div:nth-child(1) {
      // checkbox
      display: block;
      width: 30px;
      max-width: 30px;
    }
    > div:nth-child(2) {
      // assessment area
      display: block;
      width: 115px;
      max-width: 156px;
    }
    > div:nth-child(3) {
      // new or existing
      display: none;
      width: 80px;
      max-width: 90px;
    }
    > div:nth-child(4) {
      // who supports
      display: block;
      width: 80px;
    }
    > div:nth-child(5) {
      // reason for referral
      display: block;
      width: 80px;
      // flex-grow: 2;
    }

    @media screen and (min-width: 500px) {
      > div:nth-child(3) {
        display: block;
      }
    }
  }

  &.sortableTable {
    .table__row {
      // Column Widths
      > div:nth-child(1) {
        // checkbox
        display: block;
        width: 30px;
        max-width: 30px;
      }
      > div:nth-child(2) {
        // assessment area
        display: block;
        width: 115px;
        max-width: 156px;
      }
      > div:nth-child(3) {
        // new or existing
        display: none;
        width: 80px;
        max-width: 90px;
      }
      > div:nth-child(4) {
        // who supports
        display: block;
        width: 80px;
      }
      > div:nth-child(5) {
        // reason for referral
        display: block;
        width: 80px;
        flex-grow: 2;
      }

      @media screen and (min-width: 500px) {
        > div:nth-child(3) {
          display: block;
        }
      }
    }
  }
}

.importSelectedSerivcesAndCancelBtnWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
