[data-ui] {
  dialog.modal.asyncRequestVisualizer {
    border: none;
    padding: 10px;

    .iconWrap {
      display: flex;
      justify-content: center;

      &.error {
        .svgIcon {
          color: $error;
        }
      }
    }

    .svgIcon {
      color: $secondary;
    }

    p {
      font-size: $px22;
      font-weight: $_normal;
      margin-top: 20px;
    }
  }
}
