//===========================================
// ROSTER CARD
//-------------------------------------------
[data-ui] {
  .rosterCard {
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    overflow: hidden;

    * {
      pointer-events: none;
    }

    .portrait {
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }

    .details {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      white-space: nowrap;
    }
  }
}
