//===========================================
// INPUT, TEXTAREA, SELECT, CHECKBOX, RADIO
//-------------------------------------------
$input_border: 2px solid #606060;
$input_borderRadius: 4px;
$input_fontSize: $px16;
$label_fontSize: $px14;

[data-ui] {
  //===========================================
  // INPUTS
  //-------------------------------------------
  .input {
    position: relative;

    &.hidden {
      display: none !important;
    }

    input,
    textarea,
    select {
      background: $whitesmoke;
      border: $input_border;
      border-radius: $input_borderRadius;
      color: $black;
    }

    label {
      color: $font-dark;
      font-size: $label_fontSize;
      font-weight: $_normal;
      margin: 0;
    }
  }

  .input:not(.checkbox):not(.radio):not(.file) {
    display: flex;
    flex-flow: column-reverse nowrap;
    margin-bottom: 20px;
    width: 100%;

    input,
    select,
    textarea {
      display: block;
      font-size: $input_fontSize;
      order: 2;
      padding: 10px 10px 10px 5px;
      width: 100%;

      &.active {
        border-color: $primary;
      }
      &:invalid {
        border-color: $error;
      }
      &:disabled,
      &[readonly] {
        background: $gray;
      }
    }

    label {
      order: 3;
      position: relative;
      top: -4px;
    }

    .inputNote {
      font-size: 12px;
      margin-top: 4px;
      order: 1;
    }

    .charCount {
      font-size: 11px;
      position: absolute;
      right: 0px;
      bottom: -18px;

      span {
        padding: 0 1px;
      }
    }
  }

  //===========================================
  // TEXTAREAS
  //-------------------------------------------
  .textarea {
    &.withIcons {
      margin-top: 20px;
    }

    textarea {
      flex-grow: 1;
    }

    .speechToTextBtn,
    .fullscreenToggleBtn {
      position: absolute;
      top: -22px;
    }

    .speechToTextBtn {
      color: $white;
      background-color: $secondary;
      right: 50px;

      &.off {
        color: $font-dark;
        background-color: $gray;
      }
    }
    .fullscreenToggleBtn {
      background-color: $whitesmoke;
      right: 8px;
    }
  }

  //===========================================
  // FILES / ATTACHMENTS
  //-------------------------------------------
  .file {
    flex-grow: 0;

    input[type='file'] {
      position: absolute;
      right: 100px;
      top: 10px;
      visibility: hidden;
    }
    input[type='file'] ~ label {
      align-items: center;
      border: 2px solid $primary;
      border-radius: 20px;
      display: flex;
      height: 40px;
      flex-flow: row nowrap;
      padding: 10px 14px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &.file {
      width: auto;
      flex-grow: 0;
    }
    &.hasFile {
      input[type='file'] ~ label {
        border: 2px solid $secondary;

        .svgIcon {
          color: $error;
        }
      }
    }
  }

  //===========================================
  // CHECKBOXES & RADIOS
  //-------------------------------------------
  .inputGroup {
    margin: 0 0 20px;

    &__label {
      color: $font-dark;
      font-size: $label_fontSize;
      margin: 0 0 10px;
    }
  }
  .input.checkbox,
  .input.radio {
    input[type='checkbox'],
    input[type='radio'] {
      opacity: 0;
      position: absolute;

      &:checked ~ label::before {
        content: '\002714';
        background-color: $primary;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.active ~ label::before {
        border-color: $primary;
      }
      &:invalid ~ label::before {
        border-color: $error;
      }

      & ~ label {
        display: flex;
        align-items: center;

        &::before {
          content: '';
          background-color: $white;
          border: $input_border;
          border-radius: 4px;
          height: 20px;
          margin: 0 6px 0 0;
          width: 20px;

          position: relative;
          top: 0px;
        }
      }
    }
  }
  .checkbox.toggle {
    input[type='checkbox'] {
      opacity: 0;
      position: absolute;
      left: -9999px;
      top: -9999px;
    }

    input[type='checkbox'] ~ label {
      align-items: center;
      cursor: pointer;
      display: flex;
      position: relative;
      font-size: 1rem;
    }

    input[type='checkbox'] ~ label::before {
      content: '';
      background-color: $red;
      border-radius: 16px;
      border: none;
      height: 20px;
      width: 40px;
      margin-right: 0.25em;
      opacity: 0.3;
      transition: background-color 200ms ease-in-out;
    }

    input[type='checkbox'] ~ label::after {
      content: '';
      align-items: center;
      background-color: $red;
      border-radius: 16px;
      color: $white;
      display: flex;
      height: 14px;
      justify-content: center;
      left: 4px;
      position: absolute;
      width: 14px;
      transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
    }

    input[type='checkbox']:focus ~ label::before {
      outline: none;
    }
    input[type='checkbox']:checked ~ label::before {
      background-color: $secondary;
      opacity: 0.3;
    }
    input[type='checkbox']:checked ~ label::after {
      transform: translateX(130%);
      background-color: $secondary;
    }

    input[type='checkbox']:disabled ~ label {
      color: $gray;
    }
    input[type='checkbox']:disabled ~ label::before {
      background-color: rgba(211, 211, 211, 0.8);
    }
    input[type='checkbox']:disabled ~ label::after {
      background-color: $gray;
    }
  }
  .input.radio input[type='radio'] {
    margin: 0 0 10px;

    label {
      &::before {
        border-radius: 50%;
      }
    }
  }

  //===========================================
  // DROPDOWNS
  //-------------------------------------------
  .select {
    cursor: pointer;

    select {
      background: none;
      padding-right: 30px;
    }

    > .svgIcon {
      position: absolute;
      right: 5px;
      top: 26px;
    }
  }
}
